{% extends 'base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<div class="page active" id="about">
        <section class="who-am-i-section">
            <div class="section-container">
                <div class="section-header">
                    <h2 class="section-title">About Me</h2>
                    <p class="section-subtitle">A dedicated  developer turning ideas into real projects.</p>
                </div>

                <div class="about-grid">
                    <div class="about-content">
                        <p>
                            I'm a Flutter developer with <span class="highlight-text">1.5+ years </span>of expirence building responsive mobile applications. I started with traditional Flutter apps and gradually expanded into backend development using <span class="highlight-text">FastAPI.</span>
                        </p>
                        <p>
                            Currently, I works as a Junior Flutter Developer, where I focus o creating clean, reliable application and improving my <span class="highlight-text">backend skills.</span> I enjoy solving real-world problems and turning ideas into practical, user-friendly products.
                        </p>
                        <p>
                            I'm especially interested in combining application development with AI and modern backend technologies to build smarter solutions.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}