{% extends 'base.html' %}
{% block title %} Projects {% endblock %}
{% block content %}
  <div class="page active" id="projects">
        <section class="projects-section">
            <div class="section-container">
                <div class="section-header">
                    <h2 class="section-title">Professional Projects</h2>
                    <p class="section-subtitle">production-ready applications with real-world integrations.</p>
                </div>

                <div class="projects-grid">
                    <div class="project-card">
                        <div class="project-header">
                            <div class="project-icon">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                        </div>
                        <div class="project-body">
                            <h3 class="project-title">E-commerce Application</h3>
                            <p class="project-description">
                                Built a multi-role e-commerce application with user,vendor,and delivery modules, integrated with Razorpay payment gateway.
                            </p>
                            <div class="project-tech">
                                <span class="tech-badge">Dart</span>
                                <span class="tech-badge">Flutter</span>
                                <span class="tech-badge">Sqlite</span>
                                <span class="tech-badge">Razorpay</span>
                                <span class="tech-badge">Goole Maps</span>
                            </div>
                        </div>
                    </div>

                    <div class="project-card">
                        <div class="project-header">
                            <div class="project-icon">
                                <i class="fa-regular fa-calendar"></i>
                            </div>
                        </div>
                        <div class="project-body">
                            <h3 class="project-title">Calender Application</h3>
                            <p class="project-description">
                                Developed a calendear application from scratch with google ads, AI chat and attractive ui with reponsive.
                            </p>
                            <div class="project-tech">
                                <span class="tech-badge">Dart</span>
                                <span class="tech-badge">Flutter</span>
                                <span class="tech-badge">Getit</span>
                                <span class="tech-badge">Bloc</span>
                                <span class="tech-badge">Clean Architecture</span>
                            </div>
                        </div>
                    </div>

                    <div class="project-card">
                        <div class="project-header">
                            <div class="project-icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                        </div>
                        <div class="project-body">
                            <h3 class="project-title">Employee Portal</h3>
                            <p class="project-description">
                                Developed responsive employe portal  with role -based access, leave management, and daily work tracking.
                            </p>
                            <div class="project-tech">
                                <span class="tech-badge">Dart</span>
                                <span class="tech-badge">Flutter</span>
                                <span class="tech-badge">Bloc</span>
                                <span class="tech-badge">Clean Architecture</span>
                                <span class="tech-badge">Getit</span>
                                <span class="tech-badge">FlChart</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}