{% extends 'base.html' %}
{% block title %} Skills {% endblock %}
{% block content %}
  <div class="page active" id="skills">
        <section class="skills-section">
            <div class="skills-container">
                <div class="section-header">
                    <h2 class="section-title">A practical skill set built from real-world projects and continuos learning.</h2>
                    <p class="section-subtitle">A hands-on toolkit built around mobile applications, backend APIs, and real-world integrations.</p>
                </div>

                <div class="skills-grid">
                    <div class="skill-category">
                        <div class="skill-header">
                            <div class="skill-icon">
                                <i class="fa-solid fa-laptop-code"></i>
                            </div>
                            <div class="skill-title">Frontend Skills</div>
                        </div>
                        <h5 class="skill-describtion">Building responsive, user-friendly interfaces with strong focus on performance and clean UI.</h5>
                        <div class="skill-tags">
                            <span class="skill-tag">Flutter</span>
                            <span class="skill-tag">Dart</span>
                            <span class="skill-tag">HTML5</span>
                            <span class="skill-tag">CSS</span>
                            <span class="skill-tag">Responsive Design</span>
                        </div>
                    </div>

                    <div class="skill-category">
                        <div class="skill-header">
                            <div class="skill-icon">
                                <i class="fas fa-server"></i>
                            </div>
                            <div class="skill-title">Backend Excellence</div>
                        </div>
                        <h5 class="skill-describtion">Designing reliable backend systems and APIs that support scalable mobile applications.</h5>
                        <div class="skill-tags">
                            <span class="skill-tag">Python</span>
                            <span class="skill-tag">FastAPI</span>
                            <span class="skill-tag">Firebase</span>
                            <span class="skill-tag">Microservices</span>
                        </div>
                    </div>

                    <div class="skill-category">
                        <div class="skill-header">
                            <div class="skill-icon">
                                <i class="fas fa-database"></i>
                            </div>
                            <div class="skill-title">Databases</div>
                        </div>
                        <h5 class="skill-describtion">Working with both SQL and NoSQL databases to manage structured and real-time data efficiently.</h5>
                        <div class="skill-tags">
                            <span class="skill-tag">Postgres</span>
                            <span class="skill-tag">Firebase Realtime Database</span>
                            <span class="skill-tag">Firebase Firestore</span>
                            <span class="skill-tag">Sqlite</span>
                        </div>
                    </div>

                    <div class="skill-category">
                        <div class="skill-header">
                            <div class="skill-icon">
                                <i class="fas fa-cogs"></i>
                            </div>
                            <div class="skill-title">Integration</div>
                        </div>
                        <h5 class="skill-describtion">Integrating third-party services to enchance app functionality and user experince. </h5>
                        <div class="skill-tags">
                            <span class="skill-tag">Razorpay</span>
                            <span class="skill-tag">Cashfree</span>
                            <span class="skill-tag">Google Ads</span>
                            <span class="skill-tag">Firebase</span>
                            <span class="skill-tag">Rest Api</span>
                            <span class="skill-tag">JSON</span>
                        </div>
                    </div>
                     <div class="skill-category">
                        <div class="skill-header">
                            <div class="skill-icon">
                                <i class="fas fa-cogs"></i>
                            </div>
                            <div class="skill-title">Tools</div>
                        </div>
                        <h5 class="skill-describtion">Using modern development tools to streamline wortkflows and code quality.</h5>
                        <div class="skill-tags">
                            <span class="skill-tag">Git</span>
                            <span class="skill-tag">Postman</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}